<div class="row justify-content-center">
    <div class="col-xs-12 col-lg-12">
        <form (ngSubmit)="onSubmit(id.valueAsNumber,title.value,author.value,pages.valueAsNumber)">
                <div class="col-sm-12 col-md-4 form-group">
                <label for="id">Id książki:</label>
                <input id="id" type="number" class="form-control" disabled="true" #id value={{bookIndex}}>
                </div>
                <div class="col-sm-12 col-md-4 form-group">
                    <label for="title">Tytuł książki:</label>
                    <input id="title" type="text" class="form-control"  #title value={{book.title}}>
                </div>
                <div class="col-sm-12 col-md-4 form-group">
                    <label for="author">Autor książki:</label>
                    <input id="author" type="text" class="form-control" #author value={{book.author}}>
                </div>
                <div class="col-sm-12 col-md-4 form-group">
                    <label for="pages">Ilość stron</label>
                    <input id="pages" type="number" class="form-control" #pages value={{book.pages}}>
                </div>
                <button class="btn btn-success" type="submit" (click)="updateParent(false)">Edytuj</button>
        </form>
    </div>
</div>
