<ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
	<li [ngbNavItem]="1">
		<button ngbNavLink>Nagłówek</button>
		<ng-template ngbNavContent>
      <h1>Testowy nagłówek w 1 opcji menu</h1>
		</ng-template>
	</li>
	<li [ngbNavItem]="2">
		<button ngbNavLink>Obrazek</button>
		<ng-template ngbNavContent>
      <img src="https://static-00.iconduck.com/assets.00/angular-icon-2048x554-ogh7idu0.png" width="900" height="600"/>
		</ng-template>
	</li>
	<li [ngbNavItem]="3">
		<button ngbNavLink>Kilka zdań treści</button>
		<ng-template ngbNavContent>
			<p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Faucibus turpis in eu mi. Pharetra massa massa ultricies mi quis. Eget egestas purus viverra accumsan in nisl nisi scelerisque. Egestas diam in arcu cursus euismod quis viverra. Urna duis convallis convallis tellus id interdum velit. In nulla posuere sollicitudin aliquam. Arcu non odio euismod lacinia at quis. Leo vel fringilla est ullamcorper eget nulla. Purus gravida quis blandit turpis cursus in.

        Laoreet id donec ultrices tincidunt. Interdum velit laoreet id donec ultrices tincidunt arcu non. Consequat id porta nibh venenatis cras sed felis. Sit amet consectetur adipiscing elit pellentesque habitant morbi. Lacus suspendisse faucibus interdum posuere lorem ipsum. Eleifend quam adipiscing vitae proin sagittis nisl rhoncus. Nisl pretium fusce id velit ut tortor pretium. Nulla pharetra diam sit amet nisl suscipit adipiscing. Aliquam eleifend mi in nulla posuere sollicitudin. Risus feugiat in ante metus dictum at tempor commodo ullamcorper. Auctor elit sed vulputate mi sit amet mauris commodo quis. Vulputate sapien nec sagittis aliquam malesuada. Habitant morbi tristique senectus et. Eget felis eget nunc lobortis mattis aliquam. Sed adipiscing diam donec adipiscing tristique. Dignissim diam quis enim lobortis scelerisque fermentum dui faucibus in. Orci eu lobortis elementum nibh tellus molestie nunc. Arcu bibendum at varius vel.
        
        Phasellus vestibulum lorem sed risus ultricies. Sit amet consectetur adipiscing elit duis tristique sollicitudin. Lectus mauris ultrices eros in. Vehicula ipsum a arcu cursus vitae. Ridiculus mus mauris vitae ultricies leo integer. Faucibus ornare suspendisse sed nisi lacus sed. Tellus orci ac auctor augue mauris augue neque. Ultrices dui sapien eget mi proin sed libero enim sed. Augue neque gravida in fermentum et sollicitudin. Elementum sagittis vitae et leo duis ut diam. Cras fermentum odio eu feugiat pretium nibh ipsum. Leo vel orci porta non pulvinar neque laoreet suspendisse. Penatibus et magnis dis parturient montes. Leo vel fringilla est ullamcorper eget. Non quam lacus suspendisse faucibus interdum posuere lorem ipsum dolor.
        
        Facilisis mauris sit amet massa vitae tortor condimentum lacinia quis. Commodo elit at imperdiet dui accumsan. Diam volutpat commodo sed egestas egestas fringilla. Sem et tortor consequat id porta. A lacus vestibulum sed arcu non. Bibendum arcu vitae elementum curabitur vitae nunc sed velit. Nisi est sit amet facilisis. Ultrices eros in cursus turpis massa. Massa tincidunt dui ut ornare lectus. Velit ut tortor pretium viverra. Ante in nibh mauris cursus mattis molestie. Tortor aliquam nulla facilisi cras fermentum. Quis blandit turpis cursus in hac habitasse platea dictumst quisque. Facilisis sed odio morbi quis commodo odio aenean. Cursus vitae congue mauris rhoncus aenean vel elit. Cras sed felis eget velit aliquet sagittis. Tellus integer feugiat scelerisque varius morbi enim nunc faucibus. Phasellus faucibus scelerisque eleifend donec.
        
        Lobortis mattis aliquam faucibus purus in massa. Potenti nullam ac tortor vitae purus faucibus. Gravida neque convallis a cras semper auctor neque vitae tempus. Porttitor leo a diam sollicitudin tempor id eu. Quis commodo odio aenean sed adipiscing. Elit eget gravida cum sociis natoque penatibus et magnis. Eu augue ut lectus arcu bibendum at varius vel pharetra. Lacus laoreet non curabitur gravida arcu ac. Vel pretium lectus quam id. Vel eros donec ac odio tempor orci. Ipsum suspendisse ultrices gravida dictum fusce. Non curabitur gravida arcu ac tortor dignissim convallis aenean. At tempor commodo ullamcorper a lacus vestibulum. Aenean pharetra magna ac placerat vestibulum lectus mauris. Faucibus purus in massa tempor.
        
        Suspendisse in est ante in nibh mauris cursus mattis molestie. A condimentum vitae sapien pellentesque habitant morbi tristique senectus et. Nunc non blandit massa enim nec. Non consectetur a erat nam at. Mi bibendum neque egestas congue quisque egestas diam in arcu. Dignissim suspendisse in est ante in nibh. Imperdiet proin fermentum leo vel. Id nibh tortor id aliquet lectus proin nibh nisl. Massa sapien faucibus et molestie ac. Id eu nisl nunc mi ipsum faucibus vitae aliquet. Curabitur gravida arcu ac tortor dignissim convallis aenean et. Velit euismod in pellentesque massa placerat duis. Sed tempus urna et pharetra. Aliquam vestibulum morbi blandit cursus risus at. Ultrices eros in cursus turpis. Adipiscing at in tellus integer feugiat scelerisque varius. Cras semper auctor neque vitae. Ipsum dolor sit amet consectetur adipiscing. Massa tincidunt dui ut ornare lectus sit amet est. Aliquam faucibus purus in massa tempor nec feugiat nisl.
        
        Interdum varius sit amet mattis vulputate enim nulla. Amet aliquam id diam maecenas ultricies mi eget mauris pharetra. Pulvinar etiam non quam lacus suspendisse. Semper auctor neque vitae tempus quam. Arcu cursus vitae congue mauris rhoncus aenean vel. Eu augue ut lectus arcu bibendum at varius vel pharetra. Augue ut lectus arcu bibendum at. Dolor sit amet consectetur adipiscing elit ut. Ut consequat semper viverra nam libero justo laoreet. Sollicitudin aliquam ultrices sagittis orci a scelerisque purus semper. Vulputate ut pharetra sit amet. Nunc sed augue lacus viverra. Vestibulum lorem sed risus ultricies tristique. Neque vitae tempus quam pellentesque nec nam aliquam sem et.
        
        Est velit egestas dui id ornare arcu odio ut. Ipsum faucibus vitae aliquet nec ullamcorper sit. Semper quis lectus nulla at. Pulvinar elementum integer enim neque volutpat ac tincidunt. Vitae turpis massa sed elementum. Dictum non consectetur a erat nam at lectus urna. Luctus accumsan tortor posuere ac ut consequat. Neque viverra justo nec ultrices dui sapien eget mi proin. Lorem donec massa sapien faucibus et molestie ac. Pellentesque elit ullamcorper dignissim cras tincidunt lobortis feugiat vivamus. Porttitor rhoncus dolor purus non enim praesent elementum facilisis. Sit amet luctus venenatis lectus. A cras semper auctor neque vitae tempus quam. Ipsum consequat nisl vel pretium lectus. Nisl purus in mollis nunc. Eleifend donec pretium vulputate sapien nec sagittis aliquam malesuada. Malesuada pellentesque elit eget gravida cum sociis natoque. Ac tortor vitae purus faucibus ornare. Mattis aliquam faucibus purus in massa tempor nec.
        
        Lectus urna duis convallis convallis tellus id interdum. Consequat id porta nibh venenatis cras. Vel orci porta non pulvinar neque laoreet suspendisse interdum. Tempor id eu nisl nunc mi ipsum. Lectus urna duis convallis convallis tellus id interdum. Eget nunc lobortis mattis aliquam faucibus purus in massa tempor. Maecenas ultricies mi eget mauris pharetra. Fermentum odio eu feugiat pretium nibh ipsum consequat. Risus feugiat in ante metus dictum at tempor commodo ullamcorper. Arcu risus quis varius quam quisque id diam.
        
        Tellus at urna condimentum mattis pellentesque id. Fermentum odio eu feugiat pretium. Auctor eu augue ut lectus arcu bibendum at varius. Purus viverra accumsan in nisl. Augue mauris augue neque gravida in fermentum et. Metus vulputate eu scelerisque felis. Senectus et netus et malesuada fames. Eget mauris pharetra et ultrices neque ornare aenean. Neque gravida in fermentum et sollicitudin ac orci. Viverra nibh cras pulvinar mattis nunc. Integer eget aliquet nibh praesent. Sed blandit libero volutpat sed. Diam phasellus vestibulum lorem sed risus ultricies tristique nulla. In hac habitasse platea dictumst quisque sagittis purus sit. Praesent tristique magna sit amet purus gravida quis blandit. Fringilla ut morbi tincidunt augue interdum velit euismod in.
			</p>
		</ng-template>
	</li>
  <li [ngbNavItem]="4">
		<button ngbNavLink>Info o autorze</button>
		<ng-template ngbNavContent>
      <p>
        Imię i nazwisko: Kacper Kołacz,<br>
        Rok studiów: II,<br>
        Student studiów magisterskich,<br>
        Uczelnia: WIMII<br>
      </p>
    </ng-template>
	</li>
</ul>

<div [ngbNavOutlet]="nav" class="mt-2"></div>

<pre>Active: {{ active }}</pre>