
<article>
  <table mat-table [dataSource]="dataSource" *ngIf="!showDetails">
    <ng-container [matColumnDef]="col.key" *ngFor="let col of columnsSchema">
      <th mat-header-cell *matHeaderCellDef>
        {{ col.label }}
      </th>
      <td mat-cell *matCellDef="let element; let i = index;">
        <div [ngSwitch]="col.type" *ngIf="!element.isEdit">
          <div class="btn-edit" *ngSwitchCase="'isEdit'">
            <button mat-button (click)="element.isEdit = !element.isEdit">Edit</button>
          </div>
          <span *ngSwitchDefault>
            {{ element[col.key] }}
          </span>
        </div>
        <div>
          <div *ngIf="(col.key == 'isEdit') && !element.isEdit">
            <button mat-button (click)="showDetails = true;selectedBook=i">Details</button>
          </div>
        <div *ngIf="element.isEdit">
          <div class="btn-edit" *ngIf="col.key === 'isEdit'; else dataField">
            <button mat-button (click)="element.isEdit = !element.isEdit">Done</button>
          </div>
          <ng-template #dataField>
            <mat-form-field>
              <input
                [type]="col.type"
                matInput
                [(ngModel)]="element[col.key]"
              />
            </mat-form-field>
          </ng-template>
        </div>
        </div>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  </article>
  <app-edit-form *ngIf="showDetails" [book]=fetchedData[selectedBook] [bookIndex]="selectedBook" (valueChanged)="onChildValueChange($event)"></app-edit-form>