<app-info *ngIf="showMenu"></app-info>
<button (click)="showMenu=!showMenu"  type="button" class="btn btn-primary" mdbRipple> Toggle menu</button>
<br>
<br>
<app-book-list *ngIf="!showMenu"></app-book-list>
